USE [master]
GO
/****** Object:  Database [GymErrorDB]    Script Date: 05/22/2025 16:55:33 ******/
CREATE DATABASE [GymErrorDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GymErrorDB', FILENAME = N'D:\Project\SpringBoot\CSDLGymError\GymErrorDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GymErrorDB_log', FILENAME = N'D:\Project\SpringBoot\CSDLGymError\GymErrorDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GymErrorDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GymErrorDB]
GO
/****** Object:  Table [dbo].[BaiTap]    Script Date: 05/22/2025 16:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiTap](
	[MaBaiTap] [int] IDENTITY(1,1) NOT NULL,
	[TenBaiTap] [nvarchar](50) NULL,
	[MoTaBaiTap] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BaiTapBuoiTap]    Script Date: 05/22/2025 16:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiTapBuoiTap](
	[MaBuoiTap] [int] NOT NULL,
	[MaBaiTap] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBuoiTap] ASC,
	[MaBaiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BuoiTap]    Script Date: 05/22/2025 16:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuoiTap](
	[MaBuoiTap] [int] IDENTITY(1,1) NOT NULL,
	[MaPT] [int] NULL,
	[MaHoiVien] [int] NULL,
	[NgayTap] [date] NULL,
	[Buoi] [nvarchar](10) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBuoiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CheckIn]    Script Date: 05/22/2025 16:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckIn](
	[MaCheckIn] [int] IDENTITY(1,1) NOT NULL,
	[NgayCheckIn] [date] NULL,
	[BuoiCheckIn] [nvarchar](10) NULL,
	[MaHoiVien] [int] NULL,
	[MaNhanVien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCheckIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChuPhongGym]    Script Date: 05/22/2025 16:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuPhongGym](
	[TaiKhoan] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GoiTap]    Script Date: 05/22/2025 16:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiTap](
	[MaGoiTap] [int] IDENTITY(1,1) NOT NULL,
	[TenGoiTap] [nvarchar](50) NULL,
	[SoNgay] [int] NULL,
	[GiaGoiTap] [float] NULL,
	[TrangThaiGoiTap] [bit] NULL,
	[MoTaGoiTap] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGoiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GoiTapHoiVien]    Script Date: 05/22/2025 16:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiTapHoiVien](
	[MaHoiVien] [int] NOT NULL,
	[MaGoiTap] [int] NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoiVien] ASC,
	[MaGoiTap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 05/22/2025 16:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[TenHoaDon] [nvarchar](50) NULL,
	[NgayThanhToan] [datetime] NULL,
	[GiaTien] [float] NULL,
	[GhiChu] [nvarchar](200) NULL,
	[MaNhanVien] [int] NULL,
	[MaHoiVien] [int] NULL,
	[MaGoiTap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoiVien]    Script Date: 05/22/2025 16:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiVien](
	[MaHoiVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](10) NULL,
	[Email] [nvarchar](50) NULL,
	[CCCD] [nvarchar](12) NULL,
	[TaiKhoan] [nvarchar](20) NULL,
	[MatKhau] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoiVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVienLeTan]    Script Date: 05/22/2025 16:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienLeTan](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](10) NULL,
	[Email] [nvarchar](50) NULL,
	[CCCD] [nvarchar](12) NULL,
	[TaiKhoan] [nvarchar](20) NULL,
	[MatKhau] [nvarchar](200) NULL,
	[TrangThaiLamViec] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PT]    Script Date: 05/22/2025 16:55:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PT](
	[MaPT] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](10) NULL,
	[Email] [nvarchar](50) NULL,
	[CCCD] [nvarchar](12) NULL,
	[BangCap] [nvarchar](200) NULL,
	[KinhNghiem] [int] NULL,
	[TrangThai] [bit] NULL,
	[TaiKhoan] [nvarchar](20) NULL,
	[MatKhau] [nvarchar](200) NULL,
	[TrangThaiLamViec] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ChuPhongGym] ([TaiKhoan], [MatKhau]) VALUES (N'admin', N'$2a$10$IRoAgfVI2XOFIEi7cY7h9.vYUvJTiXAA2DpXpWFhpGq0FowOvBkLW')
INSERT [dbo].[ChuPhongGym] ([TaiKhoan], [MatKhau]) VALUES (N'trantuan', N'$2a$10$IRoAgfVI2XOFIEi7cY7h9.vYUvJTiXAA2DpXpWFhpGq0FowOvBkLW')
SET IDENTITY_INSERT [dbo].[HoiVien] ON 

INSERT [dbo].[HoiVien] ([MaHoiVien], [HoTen], [GioiTinh], [NgaySinh], [SDT], [Email], [CCCD], [TaiKhoan], [MatKhau]) VALUES (1, N'Nguyen Trung', 1, CAST(N'2024-01-01' AS Date), N'0123654512', N'nguyentrung@gmail.com', N'046545888542', N'nguyentrung', N'$2a$10$IRoAgfVI2XOFIEi7cY7h9.vYUvJTiXAA2DpXpWFhpGq0FowOvBkLW')
SET IDENTITY_INSERT [dbo].[HoiVien] OFF
SET IDENTITY_INSERT [dbo].[NhanVienLeTan] ON 

INSERT [dbo].[NhanVienLeTan] ([MaNhanVien], [HoTen], [GioiTinh], [NgaySinh], [SDT], [Email], [CCCD], [TaiKhoan], [MatKhau], [TrangThaiLamViec]) VALUES (11, N'Tran Cam Uyen', 0, CAST(N'2024-03-03' AS Date), N'0125463251', N'camuyen@gmail.com', N'046325111456', N'camuyen', N'$2a$10$IRoAgfVI2XOFIEi7cY7h9.vYUvJTiXAA2DpXpWFhpGq0FowOvBkLW', 1)
SET IDENTITY_INSERT [dbo].[NhanVienLeTan] OFF
SET IDENTITY_INSERT [dbo].[PT] ON 

INSERT [dbo].[PT] ([MaPT], [HoTen], [GioiTinh], [NgaySinh], [SDT], [Email], [CCCD], [BangCap], [KinhNghiem], [TrangThai], [TaiKhoan], [MatKhau], [TrangThaiLamViec]) VALUES (1, N'Hong Trung Viet', 1, CAST(N'2024-02-02' AS Date), N'0123452618', N'trungviet@gmail.com', N'046523666154', NULL, NULL, 1, N'trungviet', N'$2a$10$IRoAgfVI2XOFIEi7cY7h9.vYUvJTiXAA2DpXpWFhpGq0FowOvBkLW', 1)
SET IDENTITY_INSERT [dbo].[PT] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__HoiVien__A955A0AA2F507E5B]    Script Date: 05/22/2025 16:55:34 ******/
ALTER TABLE [dbo].[HoiVien] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__HoiVien__D5B8C7F0D5E0899F]    Script Date: 05/22/2025 16:55:34 ******/
ALTER TABLE [dbo].[HoiVien] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NhanVien__A955A0AA09E7154E]    Script Date: 05/22/2025 16:55:34 ******/
ALTER TABLE [dbo].[NhanVienLeTan] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NhanVien__D5B8C7F08F5D04C8]    Script Date: 05/22/2025 16:55:34 ******/
ALTER TABLE [dbo].[NhanVienLeTan] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__PT__A955A0AAD65FDD6D]    Script Date: 05/22/2025 16:55:34 ******/
ALTER TABLE [dbo].[PT] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__PT__D5B8C7F049DF8634]    Script Date: 05/22/2025 16:55:34 ******/
ALTER TABLE [dbo].[PT] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiTapBuoiTap]  WITH CHECK ADD FOREIGN KEY([MaBaiTap])
REFERENCES [dbo].[BaiTap] ([MaBaiTap])
GO
ALTER TABLE [dbo].[BaiTapBuoiTap]  WITH CHECK ADD FOREIGN KEY([MaBuoiTap])
REFERENCES [dbo].[BuoiTap] ([MaBuoiTap])
GO
ALTER TABLE [dbo].[BuoiTap]  WITH CHECK ADD FOREIGN KEY([MaHoiVien])
REFERENCES [dbo].[HoiVien] ([MaHoiVien])
GO
ALTER TABLE [dbo].[BuoiTap]  WITH CHECK ADD FOREIGN KEY([MaPT])
REFERENCES [dbo].[PT] ([MaPT])
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD FOREIGN KEY([MaHoiVien])
REFERENCES [dbo].[HoiVien] ([MaHoiVien])
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVienLeTan] ([MaNhanVien])
GO
ALTER TABLE [dbo].[GoiTapHoiVien]  WITH CHECK ADD FOREIGN KEY([MaGoiTap])
REFERENCES [dbo].[GoiTap] ([MaGoiTap])
GO
ALTER TABLE [dbo].[GoiTapHoiVien]  WITH CHECK ADD FOREIGN KEY([MaHoiVien])
REFERENCES [dbo].[HoiVien] ([MaHoiVien])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaGoiTap])
REFERENCES [dbo].[GoiTap] ([MaGoiTap])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaHoiVien])
REFERENCES [dbo].[HoiVien] ([MaHoiVien])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVienLeTan] ([MaNhanVien])
GO
USE [master]
GO
